header {
  background-color: #c12d2d;
  color: white;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

main article,
aside {
  overflow-y: auto;
}
main article {
  flex: 2;
}

main aside {
  flex: 1;
}

aside {
  background-image: url("writing.png");
  background-repeat: repeat;
  background-size: 100px 100px;
  background-position: center;
  padding: 15px;
  border: 10px solid #333;
  border-radius: 12px;
  background-color: #fafafa;
}

footer {
  background-color: #c12d2d;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 100px;
}

footer p {
  margin: 5px 0;
}
